.container {

    width: 800px;
    height: 800px;
    border: black solid 1px;

    background-color: black;
}

.display {
    height: 200px;
    width: 800px;
    border: grey solid 1px;
}

.buttons {
    height: 600px;
    width: 800px;
    border: grey solid 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {

    padding: 20px;
    border-radius: 50%;
    text-align: center;

    height: 125px;
    width: 125px;

    font-size: 75px;

}

.row1, .row2, .row3, .row4 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}